@import url("https://fonts.googleapis.com/css?family=PT+Mono");

main[role="main"] {
  margin-left: 2rem;
  margin-right: 2rem;
}

.ma0 h1,
.ma0 h2,
.ma0 h3,
.ma0 h4,
.ma0 h5,
.ma0 h6,
header,
footer {
  font-family: "PT Mono", monospace;
}

@media screen and (max-width: 30em) {
  body > header h1 {
    display: none;
  }
}

blockquote {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1em;
  font-style: italic;
  background-color: rgba(255, 255, 255, 0.5);
}

blockquote *:first-child {
  margin-top: 0;
}

blockquote *:last-child {
  margin-bottom: 0;
}
