main[role="main"] {
  margin-left: 2rem;
  margin-right: 2rem;
}

.comments {
  font-style: italic;
}

.share {
  display: flex;
  justify-content: center;
}

.ma0 h1,
.ma0 h2,
.ma0 h3,
.ma0 h4,
.ma0 h5,
.ma0 h6,
header,
footer {
  font-family: "Iosevka Web", monospace;
  font-weight: 400;
}

@media screen and (max-width: 30em) {
  body > header h1 {
    display: none;
  }
}

blockquote {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1em;
  font-style: italic;
  background-color: rgba(255, 255, 255, 0.5);
}

blockquote *:first-child {
  margin-top: 0;
}

blockquote *:last-child {
  margin-bottom: 0;
}

figcaption {
  text-align: center;
  font-style: italic;
}

figcaption em {
  font-style: normal;
}

dt {
  font-weight: bold;
}

.citation {
  text-align: right;
}

.citation::before {
  content: "— ";
}

.code,
code,
pre code {
  font-family: "Iosevka Web", monospace;
  font-size: 1rem;
}
