{{ $script := .Site.Data.webpack_assets.app }}
{{ with $script.js }}
  <script src="{{ relURL (printf "%s%s" "dist/" .) }}"></script>
{{ end }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=AM_HTMLorMML"></script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
   ignoreHtmlClass: "twitter-tweet",
    asciimath2jax: {
      delimiters: [["$", "$"]],
    },
});
</script>

<script async defer src="//assets.codepen.io/assets/embed/ei.js"></script>

<script async defer src="//platform.instagram.com/en_US/embeds.js"></script>

<script async defer src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<script defer data-domain="monospacedmonologues.com" data-api="/plsbl/api/event" src="/plsbl/js/script.js"></script>
